/* General */

 html, body, .view {
    height: 100%;
}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin: 20px
}

footer {
    margin-top: 0!important;
}
html {
    scroll-behavior: smooth;
  }
  .base-color {
    color: #ff4a1d!important;
  }
  .btn-base {
    background-color: #ff4a1d!important;
    color: #ffffff;
  }
  h1.large {
    font-size: 4.5rem;
  }
  h1 span {
    display: block;
    color: rgba(255,255,255,0.6);
    font-size: 1.0rem;
  }

  /* .mask.rgba-black-light {
    background-color: rgba(0, 0, 0, 0.1);
  } */
  
  /* Footer */
  footer {
    background-color: #151515!important;
  }
  /* Footer color for sake of consistency with Navbar */
  .page-footer {
    background-color: #1C2331;
  }
  
  
  
  /* Font */
  body {
    font-family: 'Raleway', sans-serif;
    padding-top: 55px; 
  }
  
  .font-medium {
    font-size: 1.1rem;
  }
  .bold {
    font-weight: 500;
  }
  b {
    font-weight: 500;
  }
  .text-shadow {
    text-shadow: 0px 0px 10px #000000;
  }
  .grey-text {
    color: #656565!important;
  }
  /* Navigation Bar */
  .navbar {
    background-color: #151515!important;
  }
  .navbar-brand {
    font-weight: 400;
  }
  .nav-item.active {
    background-color: rgba(255,255,255,0.15);
  }
  .nav-link {
    border-radius: 10px;
  }
  
  
  /* Cards */
  .card {
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
    margin-top: 25px;
  }
  .card-photo {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    border-radius: 200px;
  }
  .card-contact {
    max-width: 550px;
    margin: 0 auto;
    padding: 0;
  }
  
  #post-body strong {
    font-weight: 700;
  }

  #intro{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('/public/PIXNIO-246755-5700x3800.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }

  #banner{
    padding-top: 200px;  
    }

    /*Arrow styling*/
    a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* .row{
    overflow: hidden; 
} */

.row .col-{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}